<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span><h4>{{ position }}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{ place.name }}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of place.services">
                <span [ngSwitch] = "s">
                    <i *ngSwitchCase="'desayuno'" style="color: red;">{{s}}</i>
                    <i *ngSwitchDefault>{{s}}</i>
                </span>
            </li>
        </ul>
        <a	href="#"	class="btn-card" (click)="go()">Go!</a>
        <!--<span [style.display] = "place.isSelected() ? '' : 'none'"> Selected </span>-->
        <span *ngIf="place.isSelected();">
            <a [routerLink]="['/destination']">Destino</a>
            <span ngNonBindable>🎯</span>
        </span>
    </div>
</div>