<div class="container content">
	<div class="row">
		<div class="col-md-6	offset-md-3">
			<span class="anchor"	id="formLogin"></span>
			    <!-- form	card	login	with	validation	feedback	-->
				<div class="card	card-outline-secondary">
				    <div	class="card-header">
						<h3	class="mb-0">Whishlist</h3>
					</div>
					<div class="card-body">
						<app-form-destination-travel (onItemAdded) = "save($event)"></app-form-destination-travel>
					</div>
			    </div>
	    </div>
    </div>

	<hr	class="mb-5">
    <div class="row row-flex">
		<app-destiny-travel 
			*ngFor="let place of destinyApiClient.getAll(); let i = index" 
			[place] = "place"
			[idx] = "i + 1"
			(clicked) = "choosen($event)"	
		></app-destiny-travel>
	</div>
	
	<hr	class="mb-5">
    <div class="row row-flex">
		<h5>Actividad</h5>
		<ul>
			<li *ngFor="let update of updates;">{{ update }}</li>
		</ul>
    </div>
</div>
