
<div class="container">
  <div class="page-header">
    <div class="container">
      <h1>Routeo Simple</h1>
      <div class="navLinks">
        <a [routerLink]="['/home']">Home</a>
      </div>
      <div class="navLinks">
        <a [routerLink]="['/destination']">Destino</a>
      </div>
    </div>
  </div>
  <div class="row">
    <h1>{{ title }}</h1>
  </div>

  <router-outlet></router-outlet>
</div>

<hr>

<p>Fecha: {{ time | async }}</p>